<template name="addList">
    <!-- <form>Create a list:
        <input type="text" placeholder="List name here..." name="listName">
    </form> -->
    <div class="bs-example">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Create List</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="listName">
            </div>
        </div>
    </form>
    </div>
</template>